body {
  margin: 0;
  padding: 0;
  background-color: linen;
}

button:focus {
  outline: 0;
}

header {
  width: 100%;

}

h1, h2 {
  margin: 40px auto;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #1D0700;
}

.book {
  width: 350px;
  height: 450px;
  margin: 0 auto;
  
  background: url('tweed.png') repeat;
  border: 1px solid #336600;
  border-radius: 0px 3px 3px 0;
  font-family: 'Libre Baskerville', serif;
}

/*adapted from http://hankstoever.com/posts/6-Design-a-Book-Cover-in-CSS-with-SASS*/
.cover {
  height: 100%;
  width: 100%;
  display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
  background-color: rgba(51, 102, 0, 0.4);
  border-left: 3px solid #1A3300;
  box-shadow: 1px -1px 0 gainsboro,
              2px -2px 0 #c2c2c2, 
              3px -3px 0 darkgrey, 
              4px -4px 0 #8f8f8f, 
              5px -5px 0 #133c0f;
}

#tweet {
  text-align: right;
  margin-right: 20px;
}

#btn {
  margin: 30px auto 0 auto;
  width: 90px;
  display: block;
  cursor: pointer;
  border-radius: 5px;
  padding: 6px 4px;
  text-align: center;
  background-color: #500B24;
  color: white;
  border: none;
}

#btn:hover {
  background-color: #009900;
}


.wrapper {
  width: 98%;
}

#book-title {
  width: 60%;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5em;
  color: #E6B800;
}